<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/jquery-3.6.0.min.js' %}"></script>
    <style type="text/css">
      * {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body>
    <br>
    <center><h3>Crawl dữ liệu điện thoại</h3></center>
    <br>
   
    <form class="form1" action="/crawl_TGDD">
      <div class="formcontrol"> 
        
        <center>Nhập tên shop:  <input  type="text" name="linkname" placeholder="FPT, cellphones, TGDD, all"></center><br>
        <center>Nhập số trang:  <input type="text" name="page" placeholder="Enter the number of page" >
          
          <center> <br><button type="submit" class="btn btn-primary">Crawl</button>
          <br>
        </center>
          <br>
        </div>
        
        
        </form>
         <form action="/filterdanhgia">
          <center> <input type="text" name="nameshop" placeholder="Tên cửa hàng" >
           <input type="text" name="brand" placeholder="Nhãn Hiệu" >
          <input type="text" name="giadautien" placeholder="Giá nhỏ nhất" >
            <input type="text" name="giacuoi" placeholder="Giá lớn nhất" >
            <input type="text" name="danhgia" placeholder="Đánh giá (có thế bỏ trống)" >
           <button type="submit" class="btn btn-primary">Lọc</button></center>
        
         </form>
         <form action="/taofilecsv">

        <center>
          <br>
          <input type="text" name="nameshop" placeholder="Tên cửa hàng" >
          <input type="text" name="tenfile" placeholder="Tên csv cần lưu" >
           <button  type="submit"  class="btn btn-primary">Tải file csv</button></center>
         </form>

    
    
    
    <br>
    <center><h3>Bảng thống kê thông tin điện thoại</h3></center>
   
    
    
    <table class="table table-bordered mt60">
      <thead class="bg-color text-bold td">
        <tr>
          <td>Tên sản phẩm</td>
          <td>Nhãn hiệu</td>
          <td>Cấu hình</td>
          <td>Hệ điều hành</td>
          <td>Camera trước</td>
          <td>Camera sau</td>
          <td>Chip</td>
          <td>Ram</td>
          <td>Rom</td>
          <td>Pin</td>
          <td>Giá</td>
          <td>Đánh giá</td>
          <td>Số lượng</td>
          <td>Link sản phẩm</td>
        </tr>
      </thead>
      <tbody>
        {% for x in mymembers %}
        <tr>
          <td>{{x.name}}</td>
          <td>{{x.brand}}</td>
          <td>{{x.display}}</td>
          <td>{{x.hdh}}</td>
          <td>{{x.camera_truoc}}</td>
          <td>{{x.camera_sau}}</td>
          <td>{{x.chip}}</td>
          <td>{{x.ram}}</td>
          <td>{{x.rom}}</td>
          <td>{{x.battery}}</td>
          <td>{{x.gia}}</td>
          <td>{{x.danhgia}}</td>
          <td>{{x.soluong}}</td>
          <td><a href="{{x.link}}">{{x.link}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
